page-customer-dashboard {
.cardmargin{
  margin:0px !important;
  width:100% !important;
  min-height: 20% !important;

 img{
   width:100% !important;
   height: auto !important;
 }
}
.headerfont{
  font-family: KoHo-Regular;
}
}
