page-redeemdash {
    .bordertext{
        //background: gray;
        border: solid gray;
        }

        .codebg{
            background: gray;
        }
        .headerfont{
            font-family: KoHo-Regular;
          }

}
